# I. Змінні та памʼять.

1. Створити змінні, що посилаються на два цілих числа, що однакові за значенням, де значення належить проміжку від -5 до 256. Перевірте, чи будуть ці змінні рівні тільки за значенням або ж ще будуть посилатися на один і той самий обʼєкт в памʼяті? Наведіть код та дайте текстову відповідь нижче.

In [9]:
first = 33
second = 33
print(first == second)
print(id(first) == id(second))

True
True

Ці дві змінні дорівнюють як за значеннями, так і за посиланням на той самий об'єкт в пам'яті, бо у Пайтоні числа від -5 до 256 закешовані, тому якщо числа малі, то замість того, аби створювати новий об'єкт, будуть взяті об'єкти з кешу.

2. За допомогою якої функції можна перевірити належність змінної до вказаного типу даних (напр. чи змінна True посилається на значення булевого та цілочисленого типу)?

In [ ]:
print(isinstance(True,bool))
print(isinstance(True,int))

True
True

# II. Цілі числа та числа з рухомою комою

3. Створити дві змінні, що посилаються на будь-які ціле число та число з рухомою комою та продемонструвати такі арифметичні операції: додавання, віднімання, ділення, множення, ділення без залишку, ділення по модулю, приведення до ступеню. Всі результати операцій вивести на екран.

In [8]:
one = 3
two = 2.5
print("Add:",one + two)
print("Sub:",one - two)
print("Div:",one / two)
print("Mul:",one * two)
print("Int div:",one // two)
print("Rem div:",one % two)
print("Pow:",one ** two)

Add: 5.5
Sub: 0.5
Div: 1.2
Mul: 7.5
Int div: 1.0
Rem div: 0.5
Pow: 15.588457268119896

4. Використовуючи змінні з вправи 3, продемонструйте механізм явного перетворення типів, де числа з рухомою комою перетворюються на цілі числа. Також визначте змінну, що посилається на значення булевого типу і спробуйте явно привести її до цілого числа.

In [53]:
one = 3
two = 2.5
three = False

print("Перша змінна, тип float:",float(one))
print("Друга змінна, тип int:",int(two))
print("Третя змінна, тип int:", int(three))

Перша змінна, тип float: 3.0
Друга змінна, тип int: 2
Третя змінна, тип int: 0

# IІІ. Рядки (String).

5. Створити пустий рядок двома різними способами.

In [54]:
empty_str = ""
empty_string = str()

6. Створити рядок з апострофом. Зробити його сирим. Вивести обидва рядка на екран.

In [55]:
string = "They\'re together"
raw_string = r'They\'re together but raw'
print(string)
print(raw_string)

They're together
They\'re together but raw

7. Створити змінну, що буде посилатися на Ваше прізвище латинкою. Створити форматований рядок, який буде мати вигляд "My surname is ______", де на місці нижніх підкреслень буде Ваше прізвище зі змінної.

In [10]:
name = "Kyrylin"
string = f"My surname is {name}"
print(string)

My surname is Kyrylin

8. Маючи рядок "My dog is crazy." перетворити його на список ["my", "dog", "is", "crazy"]

In [11]:
string = "My dog is crazy"
string1 = string.lower().split()
print("List:",string1)

List: ['my', 'dog', 'is', 'crazy']

# IV. Робота зі списками.

9. Створити список двома різними за синтаксисом способами. За допомогою вбудованої функції обчисліть довжину одного з них.

In [59]:
one = [1,2,3,4,5]
two = list(range(1,6))
print("First: ", one)
print("Second: ",two)
print("Length of the first:", len(one))

First:  [1, 2, 3, 4, 5]
Second:  [1, 2, 3, 4, 5]
Length of the first: 5

10. Створіть два списка та за допомогою спеціального методу додайте другий з них в якості останнього елемента першого.

In [61]:
one = [1,2,3,4,5]
two = list(range(1,6))
one.append(two)
print("Added second list to the first one: ", one)

Added second list to the first one:  [1, 2, 3, 4, 5, [1, 2, 3, 4, 5]]

11. Створіть список, де елементами цього списку також є списки. Отримай перший елемент з останнього рядка та виведи значення на екран.

In [67]:
listslist = [[1,2],[3,4,5],[6,7,8,9]]
print("First element of last list is: ",listslist[-1][0])

First element of last list is:  6

12. Створіть список з десяти елементів різного типу. Отримайте всі елементи, окрім двох перших та двох останніх та збережіть їх в новій змінній.

In [6]:
randomlist = [111,222,333,444.4,555.555,'r','i','c','k',"neelee"]
print("List:",randomlist[2:8])

List: [333, 444.4, 555.555, 'r', 'i', 'c']

# V. Робота з кортежами.

14. Створити кортеж з один елементом.

In [80]:
cortez = (333,)
print("Tuple:",cortez)

Tuple: (333,)

15. Порівняйте список та кортеж. Назвіть схожості та відмінності, випадки використання.

Схожості:
- і списки, і кортежі є послідовностями, що зберігають дані;
- підтримка індексації елементів;
- в них можуть зберігатись елементи будь-яких типів.

Відмінності:
- списки змінювані, кортежі - ні;
- списки краще підходять для операцій додавання та видалення елементів, а кортеж - для видобутку елементів;
- списки споживають більше пам'яті і часу, в порівнянні з кортежами;
- списки мають більше вбудованих функцій, ніж кортежі;
- списки мають квадратні дужки, а кортежі - круглі.

Випадки використання:
Списки:
- випадок, коли треба змінювати самі дані після створення колекції;
- випадок, коли треба змінювати структуру даних після створення колекції (додавати, вилучати тощо).
Кортежі:
- випадок, коли треба упевнетись в незмінності даних після створення колекції;
- кортежі ліпше підходять для використання в словниках для даних "ключ-значення", оскільки ключ повинен бути незмінним.

16. Створіть кортеж з 11ти елементів чисел з рухомою комою та отримайте кожен парний за індексом елемент в зворотньому порядку. Наприклад, маючи (1.2, 2.3, 3.3, 4.3, 5.3, 6.3, 7.3, 8.3, 9.3, 0.3), отримати (0.3, 8.3, 6.3, 4.3, 2.3). Результат збережіть в нову змінну та виведіть на екран.

In [82]:
cortez1=(11.1,22.2,33.3,44.4,55.5,66.6,77.7,88.8,99.9,12.34,56.789)
print("Tuple with even indexes in reverse: ",cortez1[::-2])

Tuple with even indexes in reverse:  (56.789, 99.9, 77.7, 55.5, 33.3, 11.1)

# VI. Множини (Set).

17. Створити множину без елементів. Після цого за допомогою методу додайте кілька різних елементів до множини. Чи множини є змінним типом даних?

In [5]:
set1 = set()
set1.add("rick")
set1.add('n')
set1.add(21)
print("Set:",set1)

Set: {'rick', 'n', 21}

Так, множини є змінним типом даних у Python, оскільки їх можна змінювати, додавати та видаляти елементи та виконувати інші операції над ними.

18. Створити множину, маючи список my_list = [1, 1, 2, 67, 67, 8, 9]. Пояснити, чому "зникли" деякі елементи.

In [83]:
my_list = [1, 1, 2, 67, 67, 8, 9]
set2 = set(my_list)
print("Set from list:", set2)

Set from list: {1, 2, 67, 8, 9}

Множини у Python зберігають лише унікальні значення, тому дублікати 1 та 67 було прибрано.

19. Створіть дві множини. Продемонстуйте над ними операції: обʼєднання, різниці, пересічі та симетричної різниці. Використовуйте методи, що не змінюють множини, а створюють нові.

In [15]:
set3 = {'r','i','c','k'}
set4 = {'k','y','r','l','i','n'}

set_union = set3.union(set4)
print("Union: ", set_union)
set_difference1 = set3.difference(set4)
print("Difference from first to second: ", set_difference1)
set_difference2 = set4.difference(set3)
print("Difference from second to first: ", set_difference2)
set_intersection = set3.intersection(set4)
print("Intersection: ", set_intersection)
set_sym_diff = set3.symmetric_difference(set4)
print("Symmetric difference: ", set_sym_diff)

Union:  {'k', 'i', 'n', 'c', 'r', 'l', 'y'}
Difference from first to second:  {'c'}
Difference from second to first:  {'n', 'l', 'y'}
Intersection:  {'k', 'i', 'r'}
Symmetric difference:  {'c', 'n', 'l', 'y'}

# VII. Словники (Dictionary).

20. Створіть пустий словник. До нього додайте чотири пари елементів такі, щоб їхні ключі були різних типів. Чи може список бути ключем? Чому?

In [16]:
diction = dict()
diction[1997]="titanic"
diction[141.8]="legally blonde"
diction[("brad falchuk","ryan murphy")]="american horror story"
diction["mccauley caulkin"]="home alone"

print("Dictionary",diction)

Dictionary {1997: 'titanic', 141.8: 'legally blonde', ('brad falchuk', 'ryan murphy'): 'american horror story', 'mccauley caulkin': 'home alone'}

Ні, оскільки ключі мають бути незмінними хешованими об'єктами, списки ж є змінними і нехешованими.

21. Створіть словник, де значенням в одній з пар теж буде словник, який теж має вкладений словник. Виведіть на екран значення, що міститься в словнику, що знаходиться на найнижчому рівні ієрархії вкладеності (найбільш внутрішній).

In [17]:
one={"key1":1}
two={"key2":2,"key3":one}
three={"key4":4,"key5":5,"key6":two}
print("The lowest key value:", three["key6"]["key3"]["key1"])

The lowest key value: 1

# Вітаю! Ви велика(ий) молодець, що впоралась(вся). Похваліть себе та побалуйте чимось приємним. Я Вами пишаюся.